<%= link_to "Sign in as a different user", users_signin_path %>
<hr>


<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>Current Subscriptions</h2>
<% if Subscription.where( :user_id => params[:id]).length > 0 then %>
<%= render :partial => "subscriptions/subscription",
		   :collection => @user.subscriptions %>
<% else %>	
<i>None</i>
<% end %>

<h2>Add a subscription</h2>
<% @subscription = @user.subscriptions.build %>
<%= render :partial => "subscriptions/form" %>
