<p id="notice"><%= notice %></p>
<% @user = User.find(params[:user_id]) %>
<%= debug @user %>

<h1>Subscriptions</h1>

<!-- if there are subscriptions for this user -->
<% if Subscription.where( :user_id => params[:user_id]).length > 0 %>
<table>
  <tr>
    <th>Currently subscribed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions = Subscription.where( :user_id => params[:user_id] )
  @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.feed_url %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_user_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %> <!-- if there are subscriptions for this user -->

<h2>Add subscription:</h2>
<%= render 'form', :action => 'edit', :user_id => params[:user_id] %>
<br />

<%= link_to 'New Subscription', new_user_subscription_path %>
