<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @rss_feed.string %>
</p>

<p>
  <b>String:</b>
  <%= @rss_feed.string %>
</p>

<p>
  <b>String:</b>
  <%= @rss_feed.string %>
</p>


<%= link_to 'Edit', edit_rss_feed_path(@rss_feed) %> |
<%= link_to 'Back', rss_feeds_path %>
