<h1>Listing post_read_records</h1>

<table>
  <tr>
    <th>References</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_read_records.each do |post_read_record| %>
  <tr>
    <td><%= post_read_record.references %></td>
    <td><%= post_read_record.references %></td>
    <td><%= link_to 'Show', post_read_record %></td>
    <td><%= link_to 'Edit', edit_post_read_record_path(post_read_record) %></td>
    <td><%= link_to 'Destroy', post_read_record, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post read record', new_post_read_record_path %>
