<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @post_read_record.references %>
</p>

<p>
  <b>References:</b>
  <%= @post_read_record.references %>
</p>


<%= link_to 'Edit', edit_post_read_record_path(@post_read_record) %> |
<%= link_to 'Back', post_read_records_path %>
