<h1>Listing rss_posts</h1>

<table>
  <tr>
    <th>String</th>
    <th>String</th>
    <th>String</th>
    <th>Datetime</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rss_posts.each do |rss_post| %>
  <tr>
    <td><%= rss_post.string %></td>
    <td><%= rss_post.string %></td>
    <td><%= rss_post.string %></td>
    <td><%= rss_post.datetime %></td>
    <td><%= rss_post.references %></td>
    <td><%= link_to 'Show', rss_post %></td>
    <td><%= link_to 'Edit', edit_rss_post_path(rss_post) %></td>
    <td><%= link_to 'Destroy', rss_post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rss post', new_rss_post_path %>
