<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @rss_post.string %>
</p>

<p>
  <b>String:</b>
  <%= @rss_post.string %>
</p>

<p>
  <b>String:</b>
  <%= @rss_post.string %>
</p>

<p>
  <b>Datetime:</b>
  <%= @rss_post.datetime %>
</p>

<p>
  <b>References:</b>
  <%= @rss_post.references %>
</p>


<%= link_to 'Edit', edit_rss_post_path(@rss_post) %> |
<%= link_to 'Back', rss_posts_path %>
